@page "/Home/Login"
@using Microsoft.AspNetCore.Components.Web
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
<h1>Login</h1>

<div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" @bind="name" />
</div>

<div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" @bind="email" />
</div>

<button class="btn btn-primary" @onclick="HandleSubmit">Submit</button>

@code {
    private string name = "";
    private string email = "";

    private void HandleSubmit()
    {
        if (name == "BIRGUL" && email == "12345")
        {
            NavigationManager.NavigateTo("/weather");
        }
        else
        {
            Console.WriteLine($"Name: {name}, Email: {email}");
        }
    }
}
